.why {
  margin-top: 120px;
  &__title {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: var(--black);

    span {
      color: var(--primary);

      span {
        color: var(--black);
      }
    }
    @media (max-width: 1600px) {
      font-size: 36px;
    }
    @media (max-width: 576px) {
      font-size: 24px;
    }
  }

  &__items {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 142px;
    grid-template-rows: auto;
    justify-content: center;

    @media (max-width: 1600px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }

    @media (max-width: 1300px) {
      display: flex;
      flex-direction: column;
      row-gap: 75px;
      align-items: center;
    }
    @media (max-width: 576px) {
      row-gap: 35px;
    }
  }
  @media (max-width: 1024px) {
    margin-top: 108px;
  }
}

.why__item {
  max-width: 360px;
  margin-top: 65px;
  @media (max-width: 1600px) {
    margin-top: 30px;
  }
  display: flex;
  flex-direction: column;

  @media (max-width: 1300px) {
    margin: 0;
  }

  // &:nth-child(2) {
  //   max-width: 485px;
  //   margin-top: 0;

  //   .why__item {
  //     &-img {
  //       width: 70px;
  //       height: 70px;
  //     }

  //     &-title {
  //       font-size: 35px;
  //       @media (max-width: 1600px) {
  //         font-size: 26px;
  //       }
  //       @media (max-width: 576px) {
  //         font-size: 20px;
  //       }
  //     }

  //     &-text {
  //       font-size: 24px;
  //       @media (max-width: 1600px) {
  //         font-size: 20px;
  //       }
  //       @media (max-width: 576px) {
  //         font-size: 18px;
  //       }
  //     }
  //   }
  // }

  &-img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.3), -10px -10px 3px 0px rgba(0, 0, 0, 0.25) inset;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-title {
    margin-top: 50px;
    font-weight: 600;
    font-size: 30px;
    color: var(--black);
    text-align: center;
    @media (max-width: 1600px) {
      font-size: 20px;
    }
    @media (max-width: 576px) {
      font-size: 16px;
      margin-top: 30px;
    }
  }

  &-text {
    margin-top: 17px;
    font-size: 20px;
    color: var(--black);
    text-align: center;
    @media (max-width: 1600px) {
      font-size: 16px;
    }
    @media (max-width: 576px) {
      margin-top: 8px;
      font-size: 12px;
    }
  }
}
