.why {
  margin-top: 210px;

  &__title {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: var(--black);

    span {
      color: var(--primary);

      span {
        color: var(--black);
      }
    }
  }

  &__items {
    margin-top: 75px;
    display: grid;
    grid-template-columns: 360px 485px 360px;
    gap: 142px;
    grid-template-rows: auto;
    justify-content: center;

    @media (max-width: 1550px) {
      gap: 30px;
    }

    @media (max-width: 1400px) {
      display: flex;
      flex-direction: column;
      row-gap: 75px;
      align-items: center;
    }
  }
  @media (max-width:1024px){
    margin-top: 108px;
  }
}

.why__item {
  max-width: 360px;
  margin-top: 75px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1400px) {
    margin: 0;
  }

  &:nth-child(2) {
    max-width: 485px;
    margin-top: 0;

    .why__item {
      &-img {
        width: 150px;
        height: 150px;
      }

      &-title {
        font-size: 35px;
      }

      &-text {
        font-size: 24px;
      }
    }
  }

  &-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.3), -10px -10px 3px 0px rgba(0, 0, 0, 0.25) inset;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &-title {
    margin-top: 50px;
    font-weight: 600;
    font-size: 30px;
    color: var(--black);
    text-align: center;
  }

  &-text {
    margin-top: 17px;
    font-size: 20px;
    color: var(--black);
    text-align: center;
  }
}
