.advantage {
  margin-top: 272px;
  &__inner {
    display: grid;
    grid-template-columns: 1fr 775px;
  }
  &__title {
    font-size: 40px;
    font-weight: 600;
  }
  &__subtitle {
    margin-top: 23px;
    font-size: 25px;
    line-height: 1.2;
  }
  &__list {
    margin-top: 67px;
    display: grid;
    gap: 42px 28px;
  }
  &__item {
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 28px;
    &-title {
      font-size: 25px;
      font-weight: 700;
    }
    &-subtitle {
      width: 596px;
      margin-top: 12px;
      color: #000;
      font-size: 20px;
    }
  }
}
@media only screen and (max-width: 1520px) {
  .advantage {
    &__inner {
      grid-template-columns: 1fr 600px;
    }
  }
}
@media only screen and (max-width: 1280px) {
  .advantage {
    &__inner {
      display: flex;
      flex-direction: column;
    }
    &__right{
        margin: 42px auto 0;
    }
    &__item{
    gap: 17px;
    }
  }
}
