.game {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 300px;
    background-image: url("../../assets/images/gameinfo/amongus.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 170px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    padding-top: 300px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-weight: 700;
    border-radius: 20px;
    background-color: #404042;
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
    height: 55px;
    width: 140px;
    box-shadow: 0px -6px 0px 0px rgba(0, 0, 0, 0.25) inset;
    font-size: 18px;
  }
  &__info {
    display: flex;
    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 30px;
      background: #f9f9f9;
      box-shadow: 5px 10px 30px 0px rgba(0, 0, 0, 0.25);
      z-index: 1;
      width: 130px;
      height: 130px;
      margin-top: -24px;
    }
    &-logo {
      width: 120px;
      height: 120px;
      padding: 5px;
      border-radius: 30px;
    }
    &-right {
      margin-right: auto;
      margin-left: 28px;
      margin-top: 10px;
    }
  }
  &__name {
    display: flex;
    align-items: center;
    p {
      color: #00111a;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
      font-family: Open Sans;
      font-weight: 700;
      font-size: 22px;
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }
  &__payment-info {
    align-self: flex-end;
    width: 156px;
    margin-left: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #6c9eeb;
    color: #fff;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    letter-spacing: 0.6px;
    border-radius: 10px;
    font-size: 14px;
    height: 30px;
    @media (max-width: 576px) {
      font-size: 12px;
      width: 120px;
    }
  }
  &__type-list {
    display: flex;
    margin-top: 10px;

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }
  &__type-item {
    color: rgba(0, 17, 26, 0.5);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.9px;
    &:not(:first-child) {
      list-style: disc;
      margin-left: 40px;
      @media (max-width: 576px) {
        margin-left: 20px;
      }
    }
    font-size: 14px;
    @media (max-width: 576px) {
      margin-left: 20px;
      list-style: disc;
    }
  }
  &__bot {
    margin-top: 40px;
    &-title {
      color: #00111a;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
      font-family: Open Sans;
      font-weight: 700;
      letter-spacing: 0.9px;
      font-size: 20px;
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
    &-text {
      color: #191f2f;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
      font-family: Open Sans;
      letter-spacing: 0.75px;
      margin-top: 15px;
      max-width: 1109px;
      font-size: 14px;
    }
  }
  .social {
    margin-top: 20px;
    @media (max-width: 1170px) {
      margin-top: 10px;
    }

    &__title {
      color: #00111a;
      text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
      font-family: Open Sans;
      font-weight: 700;
      letter-spacing: 0.9px;
      font-size: 20px;
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
    &-list {
      margin-top: 32px;
    }
    &__item {
      display: inline-flex;
      align-items: center;
      border-radius: 50%;
      &:not(:first-child) {
        margin-left: 30px;
      }
      width: 35px;
      height: 35px;
    }
  }
}
@media only screen and (max-width: 1170px) {
  .game {
    padding-bottom: 90px;
    background-size: 100% 192px;
    &__inner {
      padding-top: 292px;
    }
    &__top {
      flex-wrap: wrap;
    }
    &__info-right {
      width: 100%;
      order: 2;
      margin-left: 0;
    }
    &__info-left {
      order: 0;
    }
  }
}
@media only screen and (max-width: 800px) {
  .game {
    .social-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 40px);
      gap: 30px 40px;
    }
    .social__item:not(:first-child) {
      margin-left: 0;
    }
  }
}
@media only screen and (max-width: 480px) {
  .game {
    &__btn {
      width: 80px;
      height: 40px;
      border-radius: 10px;
      font-size: 14px;
    }
    .social-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 40px);
      gap: 20px;
    }
    .social__item:not(:first-child) {
      margin-left: 0;
    }
    // &__name {
    //   display: flex;
    //   flex-direction: column;
    //   align-items: flex-start;
    // }
    // &__payment-info {
    //   align-self: flex-start;
    //   margin-top: 10px;
    //   margin-left: 0;
    // }
  }
}
