.type {
  &__title {
    color: var(--black);
    text-align: center;
    font-size: 40px;
    font-weight: 700;

    @media (max-width: 1600px) {
      font-size: 36px;
    }
    @media (max-width: 576px) {
      font-size: 24px;
    }
  }

  &__items {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 86px;
    @media (max-width: 1600px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
    }

    @media (max-width: 1140px) {
      margin-top: 55px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 60px;
    }
    @media (max-width: 1140px) {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
  }
}

.type__item {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:nth-child(1) {
    .type__item-img {
      img {
        width: 75%;
      }
    }
  }
  &:nth-child(2) {
    .type__item-img {
      img {
        width: 85%;
      }
    }
  }
  &:nth-child(4) {
    .type__item-img {
      img {
        width: 85%;
      }
    }
  }
  &-img {
    height: 154px;
    width: 220px;
    display: flex;
    align-items: centers;
    justify-content: center;
    img {
      object-fit: contain;
      height: 100%;
    }

    @media (max-width: 576px) {
      width: 40%;
    }
  }

  &-content {
    margin-top: 48px;

    @media (max-width: 1600px) {
      margin-top: 30px;
    }
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: var(--black);

    @media (max-width: 1600px) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &-text {
    margin-top: 15px;
    font-size: 19px;
    font-weight: 400;
    text-align: center;
    color: var(--black);

    @media (max-width: 1600px) {
      max-width: 360px;
      font-size: 18px;
      margin-top: auto;
    }
  }
}

@media only screen and (max-width: 1140px) {
  .type__item {
    flex-direction: row;
    align-items: center;
    column-gap: 40px;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    &-img {
      margin: 0;
    }

    &-content {
      margin-top: 0;
    }
  }
}
@media only screen and (max-width: 576px) {
  .type__item {
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    &:nth-child(odd) {
      flex-direction: column;
    }
  }
}
