.type {
  &__title {
    color: var(--black);
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    @media (max-width: 1024px) {
      text-align: center;
      font-size: 28px;
    }
    @media (max-width: 576px) {
      font-size: 20px;
    }
  }

  &__items {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 1024px) {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
  }
}

.type__item {
  background-color: #edf2f8;
  border-radius: 15px;
  padding: 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:nth-child(1) {
    .type__item-img {
      img {
        width: 40%;
      }
    }
  }
  &:nth-child(3) {
    .type__item-img {
      img {
        width: 55%;
      }
    }
  }
  &-img {
    height: 154px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      object-fit: contain;
      width: 45%;
      height: 100%;
    }

    @media (max-width: 576px) {
      width: 40%;
    }
  }

  &-content {
    margin-top: 48px;
    @media (max-width: 1600px) {
      margin-top: 0;
    }
  }

  &-title {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: var(--black);
    margin-bottom: 5px;
    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  &-text {
    max-width: 360px;
    margin-top: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #191f2f;
    text-align: left;
    @media (max-width: 576px) {
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .type__item {
    flex-direction: row;
    align-items: center;
    column-gap: 40px;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    &-img {
      margin: 0;
    }

    &-content {
      margin-top: 0;
    }
  }
}
@media only screen and (max-width: 576px) {
  .type__item {
    flex-direction: column;
    align-items: center;
    column-gap: 0;
    &:nth-child(odd) {
      flex-direction: column;
    }
    &-img {
      img {
        width: 75%;
      }
    }
    &:nth-child(1) {
      .type__item-img {
        img {
          width: 75%;
        }
      }
    }
    &:nth-child(3) {
      .type__item-img {
        img {
          width: 100%;
        }
      }
    }
  }
}
