.footer {
  margin: 170px 0;
  padding-bottom: 40px;
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__top {
    display: grid;
    grid-template-columns: 563px 1fr 306px;
  }
  &__title {
    &-name {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &-img {
      width: 120px;
      @media (max-width: 1600px) {
        width: 60px;
      }
    }
    span {
      margin-left: 24px;
      text-align: center;
      font-size: 50px;
      font-weight: 700;
      @media (max-width: 1600px) {
        font-size: 26px;
        margin-left: 10px;
      }
    }
    &-about {
      margin-top: 40px;
      font-size: 25px;
      font-weight: 400;
      @media (max-width: 1600px) {
        font-size: 18px;
        margin-top: 25px;
      }
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      min-width: 153px;
      font-size: 30px;
      font-weight: 700;
      min-height: 55px;
      display: flex;
      align-items: center;
      @media (max-width: 1600px) {
        font-size: 20px;
      }
      @media (max-width: 1200px) {
        min-height: 35px;
        margin: 12px 0;
      }
    }
  }
  &__item:last-child {
    align-items: flex-start;
  }
  &__social {
    margin-top: 10px;
    &-item {
      img {
        width: 40px;
      }
    }
    &-item:not(:first-child) {
      margin-left: 48px;
    }
  }
  &__list {
    margin: 18px 0;

    &-item {
      display: flex;
      align-items: center;
      font-size: 25px;
      font-weight: 500;
      min-width: 153px;
      &:not(:first-child) {
        margin-top: 30px;
        @media (max-width: 1200px) {
          margin-top: 0;
        }
      }
      @media (max-width: 1600px) {
        font-size: 18px;
      }
      @media (max-width: 576px) {
        min-width: auto;
        font-size: 16px;
      }
    }

    &-item + &-item {
      @media (max-width: 567px) {
        margin-left: 20px;
      }
    }
    @media (max-width: 1200px) {
      margin: 5px 0;
    }
  }
  &__bottom {
    padding-top: 43px;
    border-top: 1px solid rgb(202, 202, 202);
  }
  &__copyright {
    color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    font-weight: 500;
    @media (max-width: 1600px) {
      font-size: 16px;
    }
    @media (max-width: 576px) {
      font-size: 12px;

      text-align: center;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .footer {
    &__top {
      display: flex;
      flex-direction: column;
    }
    &__item {
      align-items: flex-start;
    }
    &__list {
      display: flex;
    }
    &__social {
      margin: 8px 0 12px;
      &-item:last-child {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .footer {
    &__inner {
      padding: 0 40px;
    }
  }
}
@media only screen and (max-width: 576px) {
  .footer {
    &__inner {
      padding: 0;
    }
  }
}
